
*.aar
.dart_tool/*
build/*
.idea/*
windows/*
.flutter-plugins
.flutter-plugins-dependencies
.packages
android/*
.flutter-plugins
.flutter-plugins-dependencies
.packages
lib/generated_plugin_registrant.dart
