<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329176521070-dqrr0gbq90gq6efpb0pqaetqofioqro5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329176521070-dqrr0gbq90gq6efpb0pqaetqofioqro5</string>
	<key>API_KEY</key>
	<string>AIzaSyC19cwz2NPLKW4AuOS5uHHbjT3l7pAqC0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>329176521070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prodobeta0.app0</string>
	<key>PROJECT_ID</key>
	<string>prodologin</string>
	<key>STORAGE_BUCKET</key>
	<string>prodologin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329176521070:ios:ccddc671c2c0dc1be5c97f</string>
</dict>
</plist>